html {
    background-color: #dddddd;

}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #eeeeee;
    margin-bottom: 5px;
    padding-bottom: 5px;
}


h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;

}

h1 {
    text-transform: uppercase;
    font-weight:200;
    color:  #1F3264;
    font-size: 25px;
    opacity: .8;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #1F3264;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
}

a {
    color: #2E5AA9;
    text-decoration: none;
}

a:hover {
    color: #4d88ff;
}


b, strong {
    font-weight: 600;
}

samp {
    display: none;
}


img {
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0.12);
    display: block;
    max-width:900px;
}


table, tr, td {
    border: 0px solid red; 
    border-collapse: collapse;
    padding-right: 20px;
    padding-bottom: 0px;
    
}


#Container {
    min-width: 800px;
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 2em;

}




/* Header information here ---------------------------------------------- */


#TopBar {
    border: 0px solid pink;
    margin: 0px;
    margin-top: 30px;
    padding-top: 1em;
}


a.TopBar {
    font: "arial";
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #545454;
    padding-left: 5px;
}


a.TopBar:hover {
    color: #2E5AA9;
    text-decoration: none;
    text-decoration-color: #ffff00;
}


img.TopBar{
    width:20%;
    min-width: 300px;
    max-width: 300px;
}


td.TopBarLink {
    height: 20px;
    padding-right: 15px;
    border-bottom: 0px solid red;
    text-align: right;
}

table.TopBar {
    border: 0px solid red;
    border-collapse: collapse;
    width: 100%;
}


a.TopBarInfo {
    font: "arial";
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #999999;
    font-size: 12px;
}


a.TopBarInfo:hover {
    color: #2E5AA9;
    text-decoration: none;
    text-decoration-color: #ffff00;
}


a.TopBarSelected {
    font: "arial";
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #2E5AA9;
    padding-left: 5px;
}


td.TopBarLink {
    height: 20px;
    padding-right: 15px;
    border-bottom: 0px solid red;
    text-align: right;
}



/* Main body information here ----------------------------------------- */


#Main {
    border: 0px solid #999999;
    margin: 0px auto;
    margin-top: 30px;
    padding: 1em 2em 4em;
    background-color: #ffffff;
    min-height: 500px;
}



/* Footer information here --------------------------------------------- */


#BotBar {
    border: 0px solid #999999;
    margin: 0px auto;
    margin-top: 20px;
}


table.BotBar {
    border: 0px solid red;
    border-collapse: collapse;
    width: 100%;
}


td.BotBar {
    text-align: right;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    
}

td.BotBar_lower {
    text-align: right;
    text-transform: none;
    font-size: 11px;
    letter-spacing: 2px;
    color: #888888;
}



/* Form information here ----------------------------------------- */


td.Form1 {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}



td.Form1_noline {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #ffffff solid;
}


td.Form2 {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}


td.Form2_dark {
    color: #777777;
    font-size:14px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}


td.Form2_noline {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #ffffff solid;
}



input.Form {
    background-color: white;
    border: 1px #cccccc solid;
    height: 20px;
    letter-spacing: 1px;
    color: #666666;
    padding-left: 10px;
    margin-bottom: 5px;
}


input.Form_locked {
    background-color: white;
    border: 0px #cccccc solid;
    color: #999999;
    height: 20px;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding-left: 5px;
    margin-bottom: 5px;
    
}


select.Form {
    background-color: white;
    border: 1px #cccccc solid;
    height: 25px;
    letter-spacing: 1px;
    color: #666666;
    padding-left: 10px;
    margin-bottom: 5px;
}


option.Form {
    letter-spacing: 1px;
}


#ErrorFirst {
    visibility: visible;
}


#ErrorLast{
    visibility: visible;
}


input.Error {
    visibility: hidden;
    border: 0px #cc0000 solid;
    background-color: white;
    background-color: white;
    height: 20px;
    letter-spacing: 1px;
    padding-left: 5px;
    margin-bottom: 5px;
    color: #cc0000;
    
}

/* Sponsor table information here ----------------------------------------- */



table.Sponsor {
    border: 0px solid black;
    border-collapse: collapse;
}


td.Sponsor {
    border: 0px solid red;
    padding-left: 20px;
    padding-right: 20px;
}


td.SponsorBronze {
    max-width: 100px;
    width: 17%;
    padding-left: 30px;
    padding-right: 30px;
}


td.SponsorSilver {
    max-width: 190px;
    width: 23%;
}


.SponsorGold {
    max-width: 300px;
    border: 0px solid black;
    padding-left: 20px;
    padding-right: 20px;
    opacity: .9;
}


.SponsorSilver {
    max-width: 190px;
    border: 0px solid red;
    opacity: .75;
    padding-left: 10px;
    padding-right: 10px;
}


.SponsorBronzePlus {
    max-width: 120px;
    opacity: .8;
}


.SponsorBronze {
    max-width: 100px;
    opacity: .8;
}





/* Events table information here ----------------------------------------- */


td.Date {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    text-align: right;
    width: 200px;
    border-color: #aaaaaa;
    border-width: 0px;
    border-right-width: 1px;
}


td.Event {
    text-transform: ;
    font-weight: 100;
    font-size: 15px;
    width: 400px;
    border-color: #aaaaaa;
    padding-left: 20px;
    border-width:1px;
}




