html {
    background-color: #ffffff;

}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
}


h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: 200;
    text-transform: uppercase;
}

a {
    color: #0083e8;
    text-decoration: none;
}

a:hover {
    color: #4d88ff;
}


b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0.12);
    display: block;
    margin: 1.3em auto;
    max-width:900px;
}


#logo {
    border: 1px solid #3366cc;
    margin: 0 auto;
    margin-top: 30px;
    padding: 2em 2em 4em;
    max-width: 1000px;
    min-width: 800px;
}


.HeaderImage {
    width: 99%;
}

.PresMail {
    text-decoration: none;
    color: #002b80;
    text-transform: uppercase;
    font:  "verdana", "arial";
    
}


.PresMail:hover {
    color: #4d88ff;
}


table.Sponsor {
    border: 0px solid black;
    border-collapse: collapse;
}


td.Sponsor {
    border: 0px solid red;
    padding-left: 20px;
    padding-right: 20px;
}


td.SponsorBronze {
    max-width: 100px;
    width: 17%;
    padding-left: 30px;
    padding-right: 30px;
}


td.SponsorSilver {
    max-width: 190px;
    width: 23%;
}


.SponsorGold {
    max-width: 300px;
    border: 0px solid black;
    padding-left: 20px;
    padding-right: 20px;
    opacity: .9;
}


.SponsorSilver {
    max-width: 190px;
    border: 0px solid red;
    opacity: .75;
}


.SponsorBronzePlus {
    max-width: 120px;
    opacity: .8;
}


.SponsorBronze {
    max-width: 100px;
    opacity: .8;
}