
table.events {
	border: 1px red solid;
    width: 90%;
    padding: 5px;
    margin: auto;
}

tr.events {
	border: 1px red solid;
    
}

td.events_title {
	border: 1px red solid;
    text-transform: uppercase;
    color: #555555;
    
    
}

td.events_date {
	border: 1px red solid;
    letter-spacing: 2px;
}

td.events_location {
	border: 1px red solid;
}

td.events_body {
	border: 1px red solid;
}