

/* Form information here ----------------------------------------- */


td.Form1 {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}


td.Form1_locked {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
	background-color: #f5f5f5;
}


td.Form1_noline {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #ffffff solid;
}


td.Form2 {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}

td.Form2_locked {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
	background-color: #f5f5f5;
}


td.Form2_dark {
    color: #555555;
    font-size:14px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}


td.Form2_noline {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #ffffff solid;
}



input.Form {
    background-color: white;
    border: 1px #cccccc solid;
    height: 20px;
    letter-spacing: 1px;
    color: #666666;
    padding-left: 10px;
    margin-bottom: 5px;
}


input.Form_locked {
    background-color: white;
    border: 0px #cccccc solid;
    color: #666666;
    height: 20px;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding-left: 5px;
    margin-bottom: 5px;
	background-color: #f5f5f5;
    
}

input.Submit {
    border: 1px #cccccc solid;
    background-color: white; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    color: #777777;
}

input.Submit:disabled {
    opacity: 0.65;
    background-color: #cccccc;
}

select.Form {
    background-color: white;
    border: 1px #cccccc solid;
    height: 25px;
    letter-spacing: 1px;
    color: #666666;
    padding-left: 10px;
    margin-bottom: 5px;
}


option.Form {
    letter-spacing: 1px;
}


#ErrorFirst {
    visibility: visible;
}


#ErrorLast{
    visibility: visible;
}


input.Error {
    visibility: hidden;
    border: 0px #cc0000 solid;
    background-color: white;
    background-color: white;
    height: 20px;
    letter-spacing: 1px;
    padding-left: 5px;
    margin-bottom: 5px;
    color: #cc0000;
    width: 200px;
    cursor: pointer;
}
/* Form information here ----------------------------------------- */


td.Form1 {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}


td.Form1_locked {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
	background-color: #f5f5f5;
}


td.Form1_noline {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #ffffff solid;
}


td.Form2 {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}

td.Form2_locked {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
	background-color: #f5f5f5;
}


td.Form2_dark {
    color: #555555;
    font-size:14px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}


td.Form2_noline {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #ffffff solid;
}



input.Form {
    background-color: white;
    border: 1px #cccccc solid;
    height: 20px;
    letter-spacing: 1px;
    color: #666666;
    padding-left: 10px;
    margin-bottom: 5px;
}


input.Form_locked {
    background-color: white;
    border: 0px #cccccc solid;
    color: #666666;
    height: 20px;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding-left: 5px;
    margin-bottom: 5px;
	background-color: #f5f5f5;
    
}

input.Submit {
    border: 1px #cccccc solid;
    background-color: white; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    color: #777777;
}

input.Submit:disabled {
    opacity: 0.65;
    background-color: #cccccc;
}

select.Form {
    background-color: white;
    border: 1px #cccccc solid;
    height: 25px;
    letter-spacing: 1px;
    color: #666666;
    padding-left: 10px;
    margin-bottom: 5px;
}


option.Form {
    letter-spacing: 1px;
}


#ErrorFirst {
    visibility: visible;
}


#ErrorLast{
    visibility: visible;
}


input.Error {
    visibility: hidden;
    border: 0px #cc0000 solid;
    background-color: white;
    background-color: white;
    height: 20px;
    letter-spacing: 1px;
    padding-left: 5px;
    margin-bottom: 5px;
    color: #cc0000;
    width: 200px;
    cursor: pointer;
}
/* Form information here ----------------------------------------- */


td.Form1 {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}


td.Form1_locked {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
	background-color: #f5f5f5;
}


td.Form1_noline {
    text-transform: uppercase;
    text-align: right;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top:10px;
    border-bottom: 1px #ffffff solid;
}


td.Form2 {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}

td.Form2_locked {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
	background-color: #f5f5f5;
}


td.Form2_dark {
    color: #555555;
    font-size:14px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #cccccc solid;
}


td.Form2_noline {
    color: #999999;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #ffffff solid;
}



input.Form {
    background-color: white;
    border: 1px #cccccc solid;
    height: 20px;
    letter-spacing: 1px;
    color: #666666;
    padding-left: 10px;
    margin-bottom: 5px;
}


input.Form_locked {
    background-color: white;
    border: 0px #cccccc solid;
    color: #666666;
    height: 20px;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding-left: 5px;
    margin-bottom: 5px;
	background-color: #f5f5f5;
    
}

input.Submit {
    border: 1px #cccccc solid;
    background-color: white; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    color: #777777;
}

input.Submit:disabled {
    opacity: 0.65;
    background-color: #cccccc;
}

select.Form {
    background-color: white;
    border: 1px #cccccc solid;
    height: 25px;
    letter-spacing: 1px;
    color: #666666;
    padding-left: 10px;
    margin-bottom: 5px;
}


option.Form {
    letter-spacing: 1px;
}


#ErrorFirst {
    visibility: visible;
}


#ErrorLast{
    visibility: visible;
}


input.Error {
    visibility: hidden;
    border: 0px #cc0000 solid;
    background-color: white;
    background-color: white;
    height: 20px;
    letter-spacing: 1px;
    padding-left: 5px;
    margin-bottom: 5px;
    color: #cc0000;
    width: 200px;
    cursor: pointer;
}