html {
    background-color: #dddddd;

}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #eeeeee;
    margin-bottom: 5px;
    padding-bottom: 5px;
    overflow-y: scroll;
}


h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
}

h1 {
    text-transform: uppercase;
    font-weight:200;
    color:  #1F3264;
    font-size: 25px;
    opacity: .8;
    letter-spacing: 4px;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7em;
    color: #1F3264;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-style: none;
    letter-spacing: 5px;
    border-bottom: 1px #1F3264 solid;
    margin-bottom: 15px;
}

a {
    color: #2E5AA9;
    text-decoration: none;
}

a:hover {
    color: #4d88ff;
}


b, strong {
    font-weight: 600;
}

samp {
    display: none;
}


img {
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0.12);
    display: block;
    max-width:900px;
}


table, tr, td {
    border-color: red;
    border-style: solid;
    border-width: 0px;
    border-collapse: collapse;
    padding-right: 20px;
    padding-bottom: 0px;
    
}


#Container {
    min-width: 800px;
    max-width: 950px;
    width: 950px;
    margin: 0 auto;
    margin-bottom: 1em;

}


blockquote {
    padding: 0px;
    margin-left: 40px;
}



/* Header information here ---------------------------------------------- */


#TopBar {
    border: 0px solid pink;
    margin: 0px;
    margin-top: 30px;
    padding-top: 1em;
}


a.TopBar {
    font: "arial";
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #999999;
    padding-left: 5px;
}


a.TopBar:hover {
    color: #1F3264;
    text-decoration: none;
    text-decoration-color: #ffff00;
}


img.TopBar{
    width:20%;
    min-width: 300px;
    max-width: 300px;
}


td.TopBarLink {
    color: #999999;
    height: 15px;
    padding-right: 15px;
    border-bottom: 0px solid red;
    text-align: right;
}

table.TopBar {
    border: 0px solid red;
    border-collapse: collapse;
    width: 100%;
}


a.TopBarInfo {
    font: "arial";
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #999999;
    font-size: 12px;
}


a.TopBarInfo:hover {
    color: #1F3264;
    text-decoration: none;
    text-decoration-color: #ffff00;
}


a.TopBarSelected {
    font: "arial";
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration-style: wavy;
    text-decoration: none; /* underline ? */
    color: #1F3264;
    padding-left: 5px;
}


td.TopBarLink {
    height: 20px;
    padding-right: 15px;
    border-bottom: 0px solid red;
    text-align: right;
}



/* Main body information here ----------------------------------------- */


#Main {
    border: 0px solid #999999;
    margin: 3px ;
    margin-top: 30px;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    background-color: #ffffff;
    min-height: 400px;
    position: relative;
}



/* Footer information here --------------------------------------------- */


#BotBar {
    border: 0px solid #999999;
    margin: 0px auto;
    margin-top: 20px;
}


table.BotBar {
    border: 0px solid red;
    border-collapse: collapse;
    width: 100%;
}


td.BotBar {
    text-align: right;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    
}

td.BotBar_lower {
    text-align: right;
    text-transform: none;
    font-size: 11px;
    letter-spacing: 2px;
    color: #888888;
}



/* Alert box here -----------------------------------------------*/

table.AlertBox {
    border-style: dashed;
    border-color: #aaaaaa;
    border-width: 1px;
    margin-left: 25px;
    margin-right: 17px;
    padding: 0px;
    display: none; 
    margin-top: 30px;
    background-color: #fbfbfb;
}

td.AlertHeader {
    text-transform: uppercase;
    text-decoration: none;
    color: #cc0000;
    font-size:13px; 
    letter-spacing: 3px;
    padding-top: 10px;
    padding-left: 15px;
    background-color: inherit;
}

td.AlertInfo {
    padding-left: 15px; 
    background-color: inherit;
    color: #666666;
    font-size:13px; 
    letter-spacing: 1px;
    padding-top:10px;
    border-bottom: 1px #ffffff solid;
}




/* Sponsor table information here ----------------------------------------- */



table.Sponsor {
    border: 0px solid black;
    border-collapse: collapse;
}


td.Sponsor {
    border: 0px solid red;
    padding-left: 20px;
    padding-right: 20px;
}


td.SponsorBronze {
    max-width: 100px;
    width: 17%;
    padding-left: 30px;
    padding-right: 30px;
}


td.SponsorSilver {
    max-width: 190px;
    width: 23%;
}


.SponsorGold {
    max-width: 300px;
    border: 0px solid black;
    padding-left: 20px;
    padding-right: 20px;
    opacity: .9;
}


.SponsorSilver {
    max-width: 190px;
    border: 0px solid red;
    opacity: .75;
    padding-left: 10px;
    padding-right: 10px;
}


.SponsorBronzePlus {
    max-width: 120px;
    opacity: .8;
}


.SponsorBronze {
    max-width: 100px;
    opacity: .8;
}





/* Events table information here ----------------------------------------- */


td.Date {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    text-align: right;
    width: 200px;
    border-color: #aaaaaa;
    border-width: 0px;
    border-right-width: 1px;
}


td.Event {
    text-transform: ;
    font-weight: 100;
    font-size: 15px;
    width: 400px;
    border-color: #aaaaaa;
    padding-left: 20px;
    border-width:1px;
}




